<header>
     <img src="../images/Bumulaz.png" alt="page logo" class="site-logo">
    <h1 class="pageTitle">{Joseph Castro's Jocund Jackdaw - WEB115 - N850{</h1> 
    <h2 class="pageNav">
        <a href="/index.html">Home</a>
        <a href="../web115/contract.html">Contract</a>
        <a href="../web115/intro.html">Intro</a>
        <a href="../web115/brand.html">Brand</a>
        <a href="../web115/index.html">Main</a>
        <a href="../web115/fizzbuzz0.html">FizzBuzz0</a>
        <a href="../web115/fizzbuzz1.html">FizzBuzz1</a>
    </h2>                       
</header>