body {

    /* color for the page */
    background-color: #E6D4BF;
}

/*fonts for the page*/

/*heading fonts*/
@font-face {
    font-family: 'arcade';
    src: url('/fonts/arcadereg.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/*fonts for normal text*/
@font-face {
    font-family: 'chonky';
    src: url('/fonts/chonky.otf')format('opentype');
    font-style: normal;
    font-weight: normal;
}
/*Title text for the page*/

.pageTitle{
    font-family: 'arcade';
    text-align: center;
    font-size: 80px;
}

/*Top nav bar*/

.pageNav{
    font-family: 'chonky';
    text-align: center;
    font-size: 30px;
    padding-bottom: 3%;
}
/*bottom copyright text*/
.copyright {
    font-family: 'chonky';
    text-align: center;
    font-size: 19px;
}
/*bottom nav*/
.botNav {
    font-family: 'chonky';
    text-align: center;
    font-size: 25px;
    padding-top: 4%;
}

.pgHeaders{
    font-family: 'arcade';
    padding-left: 15%;
}

h1.pgHeaders {
    font-size: 30px;
}

h2.pgHeaders {
    font-size: 22px;
}
.pgtxt {
    font-family: 'chonky';
    font-size: 23px;


}
p.pgtxt{
 padding-left: 16%
}
.webLink {
    font-family: 'chonky';
    font-size: 23px;
    padding-left: 17%;
}

.introLink {
    font-family: 'chonky';
    font-size: 23px;
    padding-left:17% ;
}
/*content container for info page*/
.content {
    max-width: 70%;
    margin: auto;
    
}

/*div for the picture in intro*/

.pic {
    display: block;
    margin: auto;
    width: 13%;
}

/*Example of header font in brand file*/
.hdrExample{
    font-family: 'arcade';
    font-size: 17px;
}