/* General Styles */

body {
  font-family: "Special Elite", system-ui;
  font-weight: 700;
  font-style: normal;
  background-color: #a88a62;
  color: #2E3033;
  max-width: 1800px;
  margin: auto;
}

/* Adding fonts for all of my headers */
 :heading {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

h1 {
    font-size: 55px;
}

h2 {
   font-size: 32px; 
}

h3 {
    font-size: 27px;
}

p {
    font-size: 25px;
}

footer {
    text-align: center;
    padding-top:25%;
}

a {
    font-size: 25px;
    color: #4565AC;
}

a:hover {
    background-color: #AB9844;
}

a:visited{
    color: #59544B;
}

.pageNav {
    text-align: center;
}
/* Specific Text Changes */

.mainTitle {
    text-align: center;
}

/* Page Logo */

.logo {
   padding-left: 48%;
}
/* For smaller screens */
@media screen and (max-width: 700px) {
    .pageNav, .botNav {
        flex-direction: column;
    }
}

