/* General Styles */

body {
  font-family: "Special Elite", system-ui;
  font-weight: 700;
  font-style: normal;
  background-color: #a88a62;
  color: #2E3033;
}

h1 {
    font-size: 55px;
}

h2 {
   font-size: 30px; 
}

p {
    font-size: 25px;
}

footer {
    text-align: center;
    padding-top:25%;
}

a {
    font-size: 25px;
    color: #4565AC;
}

a:hover {
    background-color: #AB9844;
}

a:visited{
    color: #59544B;
}

/* Specific Text Changes */

.mainTitle {
    text-align: center;
}

/* Page Logo */

.logo {
   padding-left: 48%;
}
